.app-container {
  max-width: calc(1366px - 16px);
  height: calc(100vh - 16px);
  margin: 0 auto;
  background-color: black;
  border: 8px solid #b9b9b9;
}
.app-wrapper {
  height: calc(100% - 40px);
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-wrapper_col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 15px 15px 0;
}
.app-wrapper_item {
  width: 85px;
  height: 85px;
  margin: 10px 0;
}
.app-wrapper_item > button {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.app-wrapper_item > button:hover {
  border: 1px solid blue;
}
.app-wrapper_item__icon {
  margin: 0 0 5px;
}
.app-wrapper_item__icon > img {
  width: 50px;
  height: 50px;
}
.app-footer > footer {
  height: 40px;
  width: 100%;
  background-color: #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-footer_col {
  height: 100%;
  margin-top: 5px;
  display: flex;
}
.app-footer_col > button {
  background-color: #d3d3d3;
  width: 100px;
  height: 100%;
  font-size: 12px;
  font-family: "Dogica";
  cursor: pointer;
  height: 100%;
}
.app-footer_contact {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.app-footer_contact > img {
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  margin: 0 10px;
  cursor: pointer;
}
.app-footer_contact > img:hover {
  border-color: #d3d3d3;
}
.app-footer_col > button:hover {
  background-color: #b9b9b9;
}
.app-footer_date {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
