@font-face {
  font-family: "Dogica";
  src: url(./fonts/dogica.otf);
}
body {
  margin: 0;
  font-family: "Dogica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background.jpg);
  background-repeat: round;
  max-width: 1366px;
  margin: 0 auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  font-family: "Dogica";
}
